.base {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    display: block;
    max-width: 475px;
    margin: 0 auto;
    padding: 1em;
    background: white;
  }
  