.base {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../../public/images/invite.png");
  background-size: cover;
  background-position: bottom;
  display: block;
  max-width: 425px;
  margin: 0 auto;
  border: 0;
}
